
<ng-container>
  <div class="row">
    <div class="col-lg-12">
          <!--begin::Advance Table Widget 4-->
    <div class="card card-custom card-stretch gutter-b">
    <!--begin::Header-->
  <div class="card-header border-0 py-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label font-weight-bolder text-dark">Movimientos</span>
      <!--<span class="text-muted mt-3 font-weight-bold font-size-sm">More than 400+ new members</span>-->
    </h3>
    <div class="card-toolbar">
      <!--<a class="btn btn-info font-weight-bolder font-size-sm mr-3 cursor-pointer">New Report</a>-->
      <a class="btn btn-light-success font-weight-bolder font-size-sm cursor-pointer" routerLink="nuevo"
        >Nuevo</a>
    </div>
  </div>
  <!--end::Header-->

  <!--begin::Body-->
  <div class="card-body pt-0 pb-3">
    <span class="navi-icon"><mat-form-field style="width: 400px;">
      <input matInput (keyup)="filtrar($event.target.value)" placeholder="Filtro por rotulado, fecha o unidad">
    </mat-form-field>
    <i class="flaticon2-search"></i></span>
    <div class="tab-content">
      <!--begin::Table-->
      <table mat-table [dataSource]="dataSource">
        

        <!-- Rotulado Column -->
        <ng-container matColumnDef="rotulado">
          <th mat-header-cell *matHeaderCellDef> Rotulado </th>
          <td mat-cell *matCellDef="let element"> {{element.rotulado}} </td>
        </ng-container>

        <!-- Detalle Column-->
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef style="width: 250px;"> Detalle </th>
          <td mat-cell *matCellDef="let element" style="width: 250px;"> {{element.detalle}} </td>
        </ng-container>

        <!-- Estado Column 
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>-->

        <!-- Fecha movimiento Column-->
        <ng-container matColumnDef="fechaMovimiento">
          <th mat-header-cell *matHeaderCellDef> Fecha del Movimiento </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaMovimiento | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Unidad Origen Column -->
        <ng-container matColumnDef="unidadOrigen">
          <th mat-header-cell *matHeaderCellDef> Unidad Origen </th>
          <td mat-cell *matCellDef="let element"> {{element.unidadOrigen}} </td>
        </ng-container>

        <!-- Unidad Destino Column -->
        <ng-container matColumnDef="unidadDestino">
          <th mat-header-cell *matHeaderCellDef> Unidad Destino </th>
          <td mat-cell *matCellDef="let element"> {{element.unidadDestino}} </td>
        </ng-container>

        <!-- Usuario Responsable Column -->
        <!--<ng-container matColumnDef="gdaTipoBien">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let element"> {{element.gdaTipoBien}} </td>
        </ng-container>-->

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element"> 
            <a class="btn btn-icon btn-light-success font-weight-bolder font-size-sm cursor-pointer" title="Ver detalles" (click)="verBien(element)"
            ><i class="flaticon-eye"></i></a>
            <a class="btn btn-icon btn-light-info font-weight-bolder font-size-sm cursor-pointer" title="Editar" (click)="editarBien(element)">
              <i class="flaticon-edit"></i></a></td>
        </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="length" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  <!--end::Body [pageSizeOptions]="[2, 3]"-->
</div>
<!--end::Advance Table Widget 4-->
        </div>
    </div>
</ng-container>
