
<!--<div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">-->
  <div class="login login-1 login-signin-on flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
    <!-- begin::Alert info *ngIf="!hasError"-->
    <!--<ng-container *ngIf="guardo">
      <div class="mb-10 alert alert-custom alert-light-bien alert-dismissible">
        <div class="alert-text">
          Se ha guardado correctamente el coeficiente.
        </div>
      </div>
    </ng-container>-->
    <!-- end::Alert info-->
  
    <!-- begin::Alert error-->
    <!--<ng-container *ngIf="hasError">
        <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
          <div class="alert-text">{{errorMsg}}</div>
        </div>
    </ng-container>-->
    <!-- end::Alert error-->
    <!--begin::Title-->
    <div class="card-header border-0 py-5">
    <!--<div class="pb-13 pt-lg-0 pt-5" style="margin-left: 50px;">-->
      <h3 class="card-title align-items-start flex-column"><!--font-weight-bolder text-dark font-size-h4 font-size-h1-lg-->
        <span class="card-label font-weight-bolder text-dark" style="font-size: 1.275rem !important">Registro del Coeficiente de Depreciación</span>
      </h3>
      <!--<p class="text-muted font-weight-bold font-size-h4">Complete los datos requeridos para crear el bien.</p>-->
    </div>
    <!--end::Title-->
    <div class="container">
      <ng-container>
        <div class="mb-10 alert alert-custom alert-light-info alert-dismissible" *ngIf="!guardo">
          <div class="alert-text">
            Debe completar los datos requeridos para guardar.
          </div>
        </div>
      </ng-container >
        
      <ng-container *ngIf="guardo">
        <div class="mb-10 alert alert-custom alert-light-bien alert-dismissible">
          <div class="alert-text">
            {{msgFinal}}
          </div>
        </div>
      </ng-container>
      <!--begin::Form-->
      <form class="form"
      novalidate="novalidate"
      id="kt_login_signup_form"
      [formGroup]="cargarCoefForm"
      (ngSubmit)="submit()"> 
      <!--<div class="row">
        <div class="col-md">
          <div class="form-group" style="margin-left: 10px;">
            <label class="font-size-h6 font-weight-bolder text-dark pt-5">Categoría</label>
            <select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" 
            data-live-search="true" formControlName="categoria" (change)="getCategoriasHijas($event)"
            [ngClass]="{'is-invalid': cargarCoefForm.controls['categoria'].invalid}">
              <option *ngFor="let categoria of categoriasDrop" [value]="categoria.value">
                  {{categoria.label}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md">
          <div class="form-group" style="margin-left: 10px;">
            <label class="font-size-h6 font-weight-bolder text-dark pt-5">Sub Categoría</label>
            <select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" data-live-search="true" formControlName="subcategoria">
              <option *ngFor="let categoria of subCategoriasDrop" [value]="categoria.value">
                  {{categoria.label}}
              </option>
            </select>
          </div>
        
        </div>
      </div>-->
      <!--end::row-->
        <div class="row">
          <div class="col-md">
          <!--begin::Form group-->
      <div class="form-group" style="margin-left: 10px;">
        <label class="font-size-h6 font-weight-bolder text-dark">Coeficiente de Depreciación</label>
        <input
          class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
          type="number"
          min="0"
          step="0.1"
          name="coefDepreciacion"
          formControlName="coefDepreciacion"
          placeholder="Coeficiente de Depreciación"
          autocomplete="off"
          [ngClass]="{'is-invalid': cargarCoefForm.controls['coefDepreciacion'].invalid}"
        />
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'El coeficiente de depreciación del bien es requerido',
            control: cargarCoefForm.controls['coefDepreciacion']
          }">
        </ng-container>
      </div>
      <!--end::Form group-->
      </div>
      <div class="col-md">

      </div>
      </div>
      <!--end::row-->
    
     <!--begin::Form group-->
      <!--Condicion en boton Aceptar [disabled]="registrationForm.invalid || !registrationForm.controls['agree'].value"-->
      <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
        <button
          type="submit"
          id="kt_login_signup_submit"
          [disabled]="cargarCoefForm.invalid"
          class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">
          Guardar
        </button>
        <a routerLink="/bienes"
          type="button"
          id="kt_login_signup_cancel"
          class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
          Cancelar
        </a>
        <ng-container *ngIf="isLoading$ | async">
          <span class="spinner spinner-primary ml-5"></span>
        </ng-container>
      </div>
      <!--end::Form group-->
    </form>
    <!--end::Form-->
   
    <!--<mat-tab label="Asignación">
      <form
      class="form"
      novalidate="novalidate"
      id="kt_login_signup_form"
      [formGroup]="asignacionForm"
      (ngSubmit)="submit()">

       <div class="form-group" style="margin-left: 10px;">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5">Unidad</label>
        <select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" 
        data-live-search="true" formControlName="unidad" (change)="getUsuariosUnidad($event)">
          <option *ngFor="let unidad of unidadesDrop" [value]="unidad.value">
              {{unidad.label}}
          </option>
        </select>
      </div>
      
      <div class="form-group" style="margin-left: 10px;">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5">Usuario Responsable</label>
        <select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" data-live-search="true" formControlName="usuarioResponsable">
          <option *ngFor="let usuario of usuariosDrop" [value]="usuario.value">
              {{usuario.label}}
          </option>
        </select>
      </div>
      </form>
    </mat-tab>-->
    <!--<mat-tab label="Datos Contables">
      <form class="form"
          novalidate="novalidate"
          id="kt_login_signup_form"
          [formGroup]="contableForm"
          (ngSubmit)="submit()"> 
      <div class="row">
        <div class="col-md">
          
          <div class="form-group" style="margin-left: 10px;">
            <label class="font-size-h6 font-weight-bolder text-dark">Valor de Revaluo</label>
            <input
              class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
              type="number"
              min="0"
              name="valorRevaluo"
              formControlName="valorRevaluo"
              placeholder="Valor de Revaluo"
              autocomplete="off"
            />
          </div>
          
        </div>
      <div class="col-md">
      <div class="form-group" style="margin-left: 10px;">
        <label class="font-size-h6 font-weight-bolder text-dark">Valor de Depreciación</label>
        <input
          class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
          type="number"
          min="0"
          name="valorDepreciacion"
          formControlName="valorDepreciacion"
          placeholder="Valor de Depreciación"
          autocomplete="off"
        />
      </div>
      
      </div>
      </div>
      
      <div class="row">
        <div class="col-md">
           
            <div class="form-group" style="margin-left: 10px;">
              <label class="font-size-h6 font-weight-bolder text-dark">Coeficiente de Depreciación</label>
              <input
                class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
                type="number"
                min="0"
                name="coeficienteDepreciacion"
                formControlName="coeficienteDepreciacion"
                placeholder="Coeficiente de Depreciación"
                autocomplete="off"
              />
            </div>
            
        </div>
        <div class="col-md">
          
      <div class="form-group" style="margin-left: 10px;">
        <label class="font-size-h6 font-weight-bolder text-dark">Valor Neto Fiscal</label>
        <input
          class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
          type="number"
          min="0"
          name="valorNeto"
          formControlName="valorNeto"
          placeholder="Valor Neto Fiscal"
          autocomplete="off"
        />
      </div>
      
        </div>
      </div>
      </form>
    </mat-tab>-->
  </div>
  <!--end container-->
<!--begin::Signup-->
<div class="login-form login-signup">
    
</div>
  <!--end::Signup-->
</div>
  <ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
