
<!--<div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">-->
  <div class="login login-1 login-signin-on flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
  
    <!--begin::Title-->
    <div class="card-header border-0 py-5">
    <!--<div class="pb-13 pt-lg-0 pt-5" style="margin-left: 50px;">-->
      <h3 class="card-title align-items-start flex-column"><!--font-weight-bolder text-dark font-size-h4 font-size-h1-lg-->
        <span class="card-label font-weight-bolder text-dark" style="font-size: 1.275rem !important">Datos del Bien</span>
      </h3>
    </div>
    <!--end::Title-->
    <div class="container">
      <a routerLink="/bienes"
      type="button"
      id="kt_login_signup_cancel"
      class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
      Cerrar</a>
      
  <mat-tab-group style="margin-top: 15px; width: 100%;">
    <mat-tab label="Datos Básicos">
      <!--begin::Form-->
      <form
      class="form"
      novalidate="novalidate"
      id="kt_login_signup_form"
      [formGroup]="basicoForm"> 
      <div class="row">
        <div class="col-md">
          <!--begin::Form group-->
          <div class="form-group" style="margin-left: 10px;">
            <label class="font-size-h6 font-weight-bolder text-dark pt-5">Rotulado</label>
            <!--<select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" 
            data-live-search="true" formControlName="categoria"
            [value]="bienVisualizado.gdaCategoriaBienId.gdaCategoriaBienId">
              <option *ngFor="let categoria of categoriasDrop" [value]="categoria.value">
                  {{categoria.label}}
              </option>
            </select>-->
            <input
            class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
            type="text"
            name="rotulado"
            formControlName="rotulado"
            placeholder="Rotulado"
            autocomplete="off" readonly/>
          </div>
          <!--end::Form group-->
        </div>
        <div class="col-md">
          <!--begin::Form group-->
          <div class="form-group" style="margin-left: 10px;">
            <label class="font-size-h6 font-weight-bolder text-dark pt-5">Categoría</label>
            <!--<select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" data-live-search="true" formControlName="subcategoria">
              <option *ngFor="let categoria of subCategoriasDrop" [value]="categoria.value">
                  {{categoria.label}}
              </option>
            </select>-->
            <input
            class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
            type="text"
            name="subcategoria"
            formControlName="subcategoria"
            placeholder="Sub Categoría"
            autocomplete="off" readonly/>
          </div>
          <!--end::Form group-->
        </div>

        <div class="col-md">
          <!--begin::Form group-->
          <div class="form-group" style="margin-left: 10px;">
            <label class="font-size-h6 font-weight-bolder text-dark pt-5">Tipo</label>
            <!--<select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" 
            data-live-search="true" formControlName="tipo" 
            [ngClass]="{'is-invalid': basicoForm.controls['tipo'].invalid}">
              <option *ngFor="let tipo of tiposBienDrop" [value]="tipo.value">
                  {{tipo.label}}
              </option>
            </select>-->

            <input
            class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
            type="text"
            name="tipo"
            formControlName="tipo"
            placeholder="Tipo"
            autocomplete="off" readonly/>

          </div>
          <!--end::Form group-->
        </div>
      </div>
      <!--end::row-->
      <div class="form-group" style="margin-left: 10px;">
        <label class="font-size-h6 font-weight-bolder text-dark">Detalle</label>
        <!--<input
          class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
          type="text"
          name="detalle"
          formControlName="detalle"
          placeholder="Detalle"
          autocomplete="off"
          [ngClass]="{'is-invalid': crearBienForm.controls['detalle'].invalid}"/>-->
        <textarea type="text" id="form7" rows="8" class="form-control form-control-solid" formControlName="detalle" readonly></textarea>
      </div>
      <!--end::Form group-->
      <div class="row">
        <div class="col-md">
      <!--begin::Form group-->
      <div class="form-group" style="margin-left: 10px;">
        <label class="font-size-h6 font-weight-bolder text-dark">Valor de Incorporación</label>
        <input
          class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
          type="number"
          min="0"
          name="valorIncorporacion"
          value="{{bienVisualizado.valorIncorporacion | number: '2.':'es-ES'}}"
          placeholder="Valor de Incorporación"
          autocomplete="off" readonly
        />
      </div>
      <!--end::Form group-->
    </div>
    <div class="col-md">
      <!--begin::Form group formControlName="fechaIncorporacion"-->
      <div class="form-group" style="margin-left: 10px;">
        <label class="font-size-h6 font-weight-bolder text-dark">Fecha de Incorporación</label>
        <input
          class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
          type="text"
          min="0"
          name="fechaIncorporacion"
          value="{{bienVisualizado.fechaIncorporacion | date:'dd/MM/yyyy'}}"
          placeholder="Fecha de Incorporación"
          autocomplete="off" readonly/>
      </div>
      <!--end::Form group-->
    </div>
    </div>
    <!--end::row-->
    <hr style="border:2px groove solid">
    <fieldset>
      <legend>Asignación:</legend>
    <div class="row">
      <div class="col-md">
          <div class="form-group" style="margin-left: 10px;">
            <label class="font-size-h6 font-weight-bolder text-dark pt-5">Unidad</label>
            <input
                class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
                type="text"
                name="unidad"
                formControlName="unidad"
                placeholder="Unidad"
                autocomplete="off" readonly/>
          </div>
      </div>
      <div class="col-md">
        <div class="form-group" style="margin-left: 10px;">
          <label class="font-size-h6 font-weight-bolder text-dark pt-5">Usuario Responsable</label>
          <input
              class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
              type="text"
              name="usuarioResponsable"
              formControlName="usuarioResponsable"
              placeholder="Usuario Responsable"
              autocomplete="off" readonly/>
        </div>
      </div>
    </div>
    <!--end::row-->
  </fieldset>
     <!--begin::Form group-->
      <!--Condicion en boton Aceptar [disabled]="registrationForm.invalid || !registrationForm.controls['agree'].value"-->
      <!--<div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
        <button
          type="submit"
          id="kt_login_signup_submit"
          [disabled]="crearBienForm.invalid"
          class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">
          Guardar
        </button>
        <a routerLink="/bienes"
          type="button"
          id="kt_login_signup_cancel"
          class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
          Cancelar
        </a>
        <ng-container *ngIf="isLoading$ | async">
          <span class="spinner spinner-primary ml-5"></span>
        </ng-container>
      </div>-->
      <!--end::Form group-->
    </form>
    <!--end::Form-->
    </mat-tab>
    <mat-tab label="Datos Adicionales">
      <form
      class="form"
      novalidate="novalidate"
      id="kt_login_signup_form"
      [formGroup]="adicionalForm">

      
      </form>
    </mat-tab>
    <!--<mat-tab label="Datos Contables">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="anno">
          <th mat-header-cell *matHeaderCellDef> Año </th>
          <td mat-cell *matCellDef="let element"> {{element.anno}} </td>
        </ng-container>
   
        <ng-container matColumnDef="valorRevaluo">
          <th mat-header-cell *matHeaderCellDef> Valor de Revaluo </th>
          <td mat-cell *matCellDef="let element"> {{element.valorRevaluo}} </td>
        </ng-container>

        <ng-container matColumnDef="valorDepreciacion">
          <th mat-header-cell *matHeaderCellDef> Valor de Depreciación </th>
          <td mat-cell *matCellDef="let element"> {{element.valorDepreciacion}} </td>
        </ng-container>

        <ng-container matColumnDef="valorNetoFiscal">
          <th mat-header-cell *matHeaderCellDef> Valor Neto Fiscal </th>
          <td mat-cell *matCellDef="let element"> {{element.valorNetoFiscal}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-tab>-->
    <!--<mat-tab label="Mantenimiento">
      <form
      class="form"
      novalidate="novalidate"
      id="kt_login_signup_form"
      [formGroup]="mantenimientoForm"> 
        <div class="form-group" style="margin-left: 10px;">
          <label class="font-size-h6 font-weight-bolder text-dark">Fecha de mantenimiento</label>
          <input
            class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
            type="date"
            min="0"
            name="fechaMantenimiento"
            formControlName="fechaMantenimiento"
            placeholder="Fecha de Mantenimiento"
            autocomplete="off"
          />
        </div>
      </form>
  </mat-tab>-->
  </mat-tab-group>
  </div>
  <!--end container-->
<!--begin::Signup-->
<div class="login-form login-signup">
    
</div>
  <!--end::Signup-->
</div>
  <ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
