
<!--<div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">-->
  <div class="login login-1 login-signin-on flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
    <!-- begin::Alert info *ngIf="!hasError"-->
    <ng-container *ngIf="guardo">
      <div class="mb-10 alert alert-custom alert-light-bien alert-dismissible">
        <div class="alert-text">
          Se ha editado correctamente el bien.
        </div>
      </div>
    </ng-container>
    <!-- end::Alert info-->
  
    <!--begin::Title-->
    <div class="card-header border-0 py-5">
    <!--<div class="pb-13 pt-lg-0 pt-5" style="margin-left: 50px;">-->
      <h3 class="card-title align-items-start flex-column"><!--font-weight-bolder text-dark font-size-h4 font-size-h1-lg-->
        <span class="card-label font-weight-bolder text-dark" style="font-size: 1.275rem !important">Edición del Bien: {{bienVisualizado.rotulado}}</span>
      </h3>
      <!--<p class="text-muted font-weight-bold font-size-h4">Complete los datos requeridos para crear el bien.</p>-->
    </div>
    <!--end::Title-->
    <div class="container">
     
      <button
      type="button"
      id="kt_login_signup_submit"
      [disabled]="basicoForm.invalid"
      class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
      (click)="submit()">
      Guardar
      </button>
      
  <mat-tab-group style="margin-top: 15px; width: 100%;">
    <mat-tab label="Datos Básicos">
      <ng-container>
        <div class="mb-10 alert alert-custom alert-light-info alert-dismissible">
          <div class="alert-text">
            Debe completar al menos los datos básicos para poder guardar el bien.
          </div>
        </div>
      </ng-container>
      <!--begin::Form-->
      <form
      class="form"
      novalidate="novalidate"
      id="kt_login_signup_form"
      [formGroup]="basicoForm"
      (ngSubmit)="submit()"> 
      <div class="row">
        <div class="col-md">
          <!--begin::Form group [(ngModel)]="bienVisualizado.gdaBienTipo.id"-->
          <div class="form-group" style="margin-left: 10px;">
            <label class="font-size-h6 font-weight-bolder text-dark pt-5">Tipo</label>
            <select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" 
            data-live-search="true" formControlName="tipo"
            [ngClass]="{'is-invalid': basicoForm.controls['tipo'].invalid}">
              <option *ngFor="let tipo of tiposBienDrop" [value]="tipo.value">
                  {{tipo.label}}
              </option>
            </select>
          </div>
          <!--end::Form group-->
        </div>
        <div class="col-md">
          <!--begin::Form group-->
          <div class="form-group" style="margin-left: 10px;">
            <label class="font-size-h6 font-weight-bolder text-dark pt-5">Categoría</label>
            <select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" 
            data-live-search="true" formControlName="categoria" (change)="getHijasAlCambiar($event)"
            [ngClass]="{'is-invalid': basicoForm.controls['categoria'].invalid}">
              <!--<option>
                Seleccione
              </option>-->
              <option *ngFor="let categoria of categoriasDrop" [value]="categoria.value">
                  {{categoria.label}}
              </option>
            </select>
          </div>
          <!--end::Form group-->
        </div>
      </div>
      <!--end::row-->
      <div class="row" *ngFor="let hija of catHijas">
        <div class="col-md">
          <!--begin::Form group-->
          <div class="form-group" style="margin-left: 10px;">
            <label class="font-size-h6 font-weight-bolder text-dark pt-5">Sub Categoría</label>
            <select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" 
            data-live-search="true" formControlName="{{hija.nombre}}" (change)="getHijasAlCambiar($event)">
              <option *ngFor="let subcategoria of hija.subcategorias" [value]="subcategoria.value">
                  {{subcategoria.label}}
              </option>
            </select>
          </div>
          <!--end::Form group-->
        </div>
        <div class="col-md">

        </div>
      </div>
      <!--end::row-->
      
      <div class="row">
        <div class="col-md">
        <div class="form-group" style="margin-left: 10px;">
          <label class="font-size-h6 font-weight-bolder text-dark">Detalle</label>
          <!--<input
            class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
            type="text"
            name="detalle"
            formControlName="detalle"
            placeholder="Detalle"
            autocomplete="off"
            [ngClass]="{'is-invalid': crearBienForm.controls['detalle'].invalid}"/>-->
          <textarea type="text" id="form7" rows="8" class="form-control form-control-solid" formControlName="detalle" [ngClass]="{'is-invalid': basicoForm.controls['detalle'].invalid}"></textarea>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'El detalle del bien es requerido',
              control: basicoForm.controls['detalle']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'minlength',
              message: 'El detalle del bien debe tener al menos 3 caracteres',
              control: basicoForm.controls['detalle']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxLength',
              message: 'El detalle del bien debe tener como máximo 250 caracteres',
              control: basicoForm.controls['detalle']
            }"
          ></ng-container>
        </div>
        <!--end::Form group-->
      </div>
    </div>
    <!--end::row-->
      <div class="row">
        <div class="col-md">
      <!--begin::Form group-->
      <div class="form-group" style="margin-left: 10px;">
        <label class="font-size-h6 font-weight-bolder text-dark">Valor de Incorporación</label>
        <input
          class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
          type="number"
          min="0"
          name="valorIncorporacion"
          formControlName="valorIncorporacion"
          placeholder="Valor de Incorporación"
          autocomplete="off"
          [ngClass]="{'is-invalid': basicoForm.controls['valorIncorporacion'].invalid}"
        />
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'El valor de incorporación del bien es requerido',
            control: basicoForm.controls['valorIncorporacion']
          }">
        </ng-container>
      </div>
      <!--end::Form group-->
    </div>
    <div class="col-md">
      <!--begin::Form group value="{{bienVisualizado.fechaIncorporacion | date:'dd/MM/yyyy'}}"-->
      <div class="form-group" style="margin-left: 10px;">
        <label class="font-size-h6 font-weight-bolder text-dark">Fecha de Incorporación</label>
        <input
          class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
          type="date"
          name="fechaIncorporacion"
          formControlName="fechaIncorporacion"
          placeholder="Fecha de Incorporación"
          autocomplete="off"
          [ngClass]="{'is-invalid': basicoForm.controls['fechaIncorporacion'].invalid}"
        />
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'La fecha de incorporación del bien es requerida',
            control: basicoForm.controls['fechaIncorporacion']
          }">
        </ng-container>
      </div>
      <!--end::Form group-->
    </div>
    </div>
    <!--end::row-->
    <div class="row">
      <div class="col-md">
        <div class="form-group" style="margin-left: 10px;">
          <label class="font-size-h6 font-weight-bolder text-dark pt-5">Estado de Conservación</label>
          <select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" data-live-search="true" formControlName="estadoConservacion">
            <option *ngFor="let estado of estadosDrop" [value]="estado.value">
                {{estado.label}}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md">
        <div class="form-group" style="margin-left: 10px;">
          <label class="font-size-h6 font-weight-bolder text-dark pt-5">Existencia en Inventario</label>
          <select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" data-live-search="true" formControlName="existenciaInventario">
            <option *ngFor="let usuario of existenciaDrop" [value]="usuario.value">
                {{usuario.label}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <!--end::row-->
    <!--<hr style="border:2px groove solid">
    <fieldset>
      <legend>Asignación:</legend>
    <div class="row">
      <div class="col-md">
        <div class="form-group" style="margin-left: 10px;">
          <label class="font-size-h6 font-weight-bolder text-dark pt-5">Unidad</label>
          <select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" 
          data-live-search="true" formControlName="unidad" (change)="getUsuariosUnidad($event)">
            <option *ngFor="let unidad of unidadesDrop" [value]="unidad.value">
                {{unidad.label}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md">
        <div class="form-group" style="margin-left: 10px;">
          <label class="font-size-h6 font-weight-bolder text-dark pt-5">Usuario Responsable</label>
          <select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" data-live-search="true" formControlName="usuarioResponsable">
            <option *ngFor="let usuario of usuariosDrop" [value]="usuario.value">
                {{usuario.label}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </fieldset>-->
     <!--begin::Form group-->
      <!--Condicion en boton Aceptar [disabled]="registrationForm.invalid || !registrationForm.controls['agree'].value"-->
      <!--<div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
        <button
          type="submit"
          id="kt_login_signup_submit"
          [disabled]="crearBienForm.invalid"
          class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">
          Guardar
        </button>
        <a routerLink="/bienes"
          type="button"
          id="kt_login_signup_cancel"
          class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
          Cancelar
        </a>
        <ng-container *ngIf="isLoading$ | async">
          <span class="spinner spinner-primary ml-5"></span>
        </ng-container>
      </div>-->
      <!--end::Form group-->
    </form>
    <!--end::Form-->
    </mat-tab>
    <mat-tab label="Asignación">
      <form
      class="form"
      novalidate="novalidate"
      id="kt_login_signup_form"
      [formGroup]="asignacionForm"
      (ngSubmit)="submit()">
      <div class="row">
        <div class="col-md">
       <div class="form-group" style="margin-left: 10px;">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5">Unidad</label>
        <select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" 
        data-live-search="true" formControlName="unidad"><!--(change)="getUsuariosUnidad($event)"-->
          <option *ngFor="let unidad of unidadesDrop" [value]="unidad.value">
              {{unidad.label}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group" style="margin-left: 10px;">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5">Usuario Responsable</label>
        <select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" data-live-search="true" 
        formControlName="usuarioResponsable" [(ngModel)]="usuarioResponsable">
          <option *ngFor="let usuario of usuarioResponsableDrop" [value]="usuario.value">
              {{usuario.label}}
          </option>
        </select>
      </div>
    </div>
    </div>
    <!--end::row-->
    <div class="row">
      <div class="col-md">
        <div class="form-group" style="margin-left: 10px;">
          <label class="font-size-h6 font-weight-bolder text-dark pt-5">Usuario Asignado</label>
          <select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" data-live-search="true" 
          formControlName="usuarioAsignado" [(ngModel)]="usuarioAsignado">
            <option *ngFor="let usuario of usuarioAsignadoDrop" [value]="usuario.value">
                {{usuario.label}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md">
      <div class="form-group" style="margin-left: 10px;">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5">Usuario Aprobador</label>
        <select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" data-live-search="true" 
        formControlName="usuarioAprobador" [(ngModel)]="usuarioAprobador">
          <option *ngFor="let usuario of usuarioAprobadorDrop" [value]="usuario.value">
              {{usuario.label}}
          </option>
        </select>
      </div>
    </div>
    </div>
    <!--end::row-->
    <div class="row">
      <div class="col-md">
        <div class="form-group" style="margin-left: 10px;">
          <label class="font-size-h6 font-weight-bolder text-dark pt-5">Usuario de Control</label>
          <select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" data-live-search="true" 
          formControlName="usuarioControl" [(ngModel)]="usuarioControl">
            <option *ngFor="let usuario of usuarioControlDrop" [value]="usuario.value">
                {{usuario.label}}
            </option>
          </select>
        </div>
      </div>
    
      <div class="col-md">
      <div class="form-group" style="margin-left: 10px;">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5">Usuario de Registro</label>
        <select class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6 selectpicker" data-live-search="true" 
        formControlName="usuarioRegistro" [(ngModel)]="usuarioRegistro">
          <option *ngFor="let usuario of usuarioRegistroDrop" [value]="usuario.value">
              {{usuario.label}}
          </option>
        </select>
      </div>
    </div>
    </div>
    <!--end::row-->
      </form>
    </mat-tab>
    <!--<mat-tab label="Datos Contables">
      <form class="form"
          novalidate="novalidate"
          id="kt_login_signup_form"
          [formGroup]="contableForm"
          (ngSubmit)="submit()"> 
      <div class="row">
        <div class="col-md">
          
          <div class="form-group" style="margin-left: 10px;">
            <label class="font-size-h6 font-weight-bolder text-dark">Valor de Revaluo</label>
            <input
              class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
              type="number"
              min="0"
              name="valorRevaluo"
              formControlName="valorRevaluo"
              placeholder="Valor de Revaluo"
              autocomplete="off"
            />
          </div>
          
        </div>
      <div class="col-md">
      <div class="form-group" style="margin-left: 10px;">
        <label class="font-size-h6 font-weight-bolder text-dark">Valor de Depreciación</label>
        <input
          class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
          type="number"
          min="0"
          name="valorDepreciacion"
          formControlName="valorDepreciacion"
          placeholder="Valor de Depreciación"
          autocomplete="off"
        />
      </div>
      
      </div>
      </div>
      
      <div class="row">
        <div class="col-md">
           
            <div class="form-group" style="margin-left: 10px;">
              <label class="font-size-h6 font-weight-bolder text-dark">Coeficiente de Depreciación</label>
              <input
                class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
                type="number"
                min="0"
                name="coeficienteDepreciacion"
                formControlName="coeficienteDepreciacion"
                placeholder="Coeficiente de Depreciación"
                autocomplete="off"
              />
            </div>
            
        </div>
        <div class="col-md">
          
      <div class="form-group" style="margin-left: 10px;">
        <label class="font-size-h6 font-weight-bolder text-dark">Valor Neto Fiscal</label>
        <input
          class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
          type="number"
          min="0"
          name="valorNeto"
          formControlName="valorNeto"
          placeholder="Valor Neto Fiscal"
          autocomplete="off"
        />
      </div>
      
        </div>
      </div>
      </form>
    </mat-tab>-->
    <mat-tab label="Datos adicionales">
      <form
      class="form"
      novalidate="novalidate"
      id="kt_login_signup_form"
      [formGroup]="adicionalForm"
      (ngSubmit)="submit()">
      
    <div class="row" *ngFor="let detalle of atributosList">
      <div class="col-md">
        <div class="form-group" style="margin-left: 10px;">
          <label class="font-size-h6 font-weight-bolder text-dark">{{detalle.atributo}}</label>
          <input
            class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
            type="text"
            name="{{detalle.atributo}}"
            formControlName="{{detalle.atributo}}"
            value="{{detalle.valor}}"
            placeholder=""
            autocomplete="off"/>
        </div>
      </div>
      <div class="col-md">

      </div>
    </div>
    </form>
  </mat-tab>
  <mat-tab label="Mantenimiento">
    <form
    class="form"
    novalidate="novalidate"
    id="kt_login_signup_form"
    [formGroup]="mantenimientoForm"
    (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md">
        <div class="form-group" style="margin-left: 10px;">
          <label class="font-size-h6 font-weight-bolder text-dark">Fecha de último mantenimiento</label>
          <input
            class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
            type="date"
            name="fechaMantenimiento"
            formControlName="fechaMantenimiento"
            placeholder="Fecha de último mantenimiento"
            autocomplete="off"/>
        </div>
      </div>
      <div class="col-md">
        <div class="form-group" style="margin-left: 10px;">
        <label class="font-size-h6 font-weight-bolder text-dark">Periodicidad de mantenimiento</label>
        <input
          class="form-control form-control-solid h-auto py-3 px-6 rounded-lg font-size-h6"
          type="text"
          name="periodicidadMantenimiento"
          formControlName="periodicidadMantenimiento"
          placeholder="Periodicidad de Mantenimiento"
          autocomplete="off"
          [ngClass]="{'is-invalid': mantenimientoForm.controls['periodicidadMantenimiento'].invalid}"
        />
        </div>
      </div>
  </div>
    </form>
  </mat-tab>
  </mat-tab-group>
  </div>
  <!--end container-->
<!--begin::Signup-->
<div class="login-form login-signup">
    
</div>
  <!--end::Signup-->
</div>
  <ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
